/* css初始化 */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font-size:14px;font-family:'Avenir', Helvetica, Arial, sans-serif;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover {
    color: #409eff;
}
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

html{height: 100%;}
html *{ box-sizing: border-box;}
body{
    height: 100%;
    background: #6f7f90;
}
/* iconfont svg color */
/* path { fill: inherit !important }  */


/* element */
.el-menu.el-menu--horizontal{
    border-bottom: none;
}

.articleTitle  .el-input__inner{
    border-radius: 0px;
}
.el-dropdown-menu.coverDropdown {
    transform: translateX(65px);
    background: transparent;
    border: none;
    padding-bottom: 0;
    margin: 0; 
}
.el-popper.coverDropdown .popper__arrow {
    border-bottom-color: #ddd;
    left: 108px!important;
    top: 4px!important;
}
.el-input__inner{
    border-radius: 0;
}
/* markdown */
 .hljs {
     font-size: 16px !important;
 }
 .v-note-wrapper .v-note-panel {
     border: none !important;
 }
 .v-note-wrapper.fullscreen{
     z-index: 10000!important;
 }
.v-note-wrapper .v-note-panel .v-note-show .v-show-content,
.v-note-wrapper .v-note-panel .v-note-show .v-show-content-html {
    background: #f1f2f6 !important;
}

 /* common class */
 .float-l{
     float: left;
 }
 .float-r{
     float: right;
 }
 .clearfix:after,.clearfix:bofore{
     content:'.';
     display:'block';
     clear: both;
     height: 0;
     visibility: hidden;
 }
 .clearfix {
     *zoom:1;
 }
 